@import url(constants.css);

.about-me{
    /* height: calc(100svh - (var(--header-height) + 1.75em) - 2.5rem); */
    height: calc(100svh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    padding-top: 0.5rem;
    gap: 1rem;

    color: var(--second-blue);
}

.about-me h2{
    font-size: clamp(1.25rem, 2vw + 0.5rem, 3rem);
    white-space: normal;
    overflow: hidden;
}

.about-img{
    aspect-ratio: 1/1;
    height: 100%;
    max-width: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.image-cropper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -15px 15px var(--primary-pink);
}

.image-cropper img{
    aspect-ratio: 1/1;
    object-fit: cover;
    display: inline;
    height: 100%;
    width: 100%;
}

.about-me .content{
    /* margin: 2em; */
    font-size: 1rem;
    letter-spacing: -0.1px;
    line-height: 1.6;
    max-width: 45rem;
}

.about-me div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-me div:nth-child(2) button{
    width: 100%;
    background-color: var(--primary-pink);
    color: var(--alternative-white);
    font-size: clamp(1.25rem, 2vw + 0.5rem, 3rem);
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 9999px;
    transition: 0.3s transform ease;
}

.about-me div:nth-child(2) button:hover{
    transform: scale(1.03);
}

.about-me div:nth-child(2){
    background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px){
    .about-me{
        /* height: var(--remaining-space-total); */
        padding-top: 2rem;
    }

    .about-me h2{
        font-size: 2rem; /* Or it was 2rem */
    }

    /* .about-img{
        height: 100%;
        width: auto;
    } */

    .about-me .content{
        font-size: 1.7rem;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .image-cropper{
        box-shadow: -5px 15px var(--primary-pink);
    }

    .about-img{
        height: auto;
        max-width: 100%;
    }

    .about-me{
        height: 100%;
        flex: 1 1 auto;
        min-height: 0;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .about-me div:nth-child(2){
        max-width: 100%;
        gap: 1rem;
    }
}

@media (max-height: 750px){
    .about-me div:nth-child(2) button{
        display: none;
    }
}