@import url(constants.css);

.section{
    min-height: 100vh;
    height: 100%;
}

.quote-section{
    width: 100%;
    height: calc(100% -  var(--section-spacing) - var(--section-spacing-top) - var(--decorative-line-height) - 0.5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="checkbox"]{
    accent-color: var(--primary-pink);
    border-color: var(--second-blue);
    cursor: pointer;
}

#form-embed{
    display: none;
    width: 100%;
    height: 100%;
}

.mobile{
    display: flex;
}

iframe{
    width: 100%;
    height: 100%;
}

/* Packages Styling */
.packageCard{
    background-color: var(--gray);
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s transform ease;
}

.packageCard:has(button:hover){
    transform: scale(1.03);
}

.packageCard h3{
    margin: 0;
    padding: 1rem;
    padding-bottom: 0.75rem;
    font-size: 1.5rem;
    border-radius: 5px 5px 0px 0px;
}

.packageCard ul{
    text-align: left;
    padding: 1rem;
    padding-top: 0;
    margin: 0;
    font-size: 1rem;;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    box-sizing: border-box;
    list-style-position: inside;
}

.quote-section button{
    padding: 0.5rem;
    min-width: 80%;
    font-weight: bold;
    color: var(--alternative-white);
    font-size: 1.2rem;
    background-color: var(--primary-pink);
}

.inputs div{
    padding: 5px;
    margin: 5px;
}

.error{
    outline: 3px solid rgb(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255, 0.5);
    color: var(--alternative-black);
}

.error input{
    outline: 2px solid red;
}

.errorMessage{
    display: none;
    background-color: var(--alternative-white);
    color: red;
    padding: 5px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step2, .step3, .buttonContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonContainer button{
    min-width: fit-content;
    margin: 0.5rem;
}

input{
    border: 0;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--gray);
}

textarea{
    background-color: var(--gray);
    border: none;
}

label{
    margin-bottom: 5px;
}

input:focus{
    outline: 2px solid var(--primary-pink);
}

.rowA{
    display: flex;
    flex-direction: column;
}

.step2{
    display: none;
}

.multiList div{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.multiList{
    display: flex;
    margin: 0;
}

.step3{
    display: none;
}

.step3 .multiList div div{
    display: flex;
    flex-direction: row;
    line-height: 40px;
}

.step3 label{
    margin-right: 0.5rem;
    font-weight: bold;
}

#packageSelected{
    text-align: left;
    margin-bottom: 1rem;
}

@media (min-width: 768px){
    .rowA{
        flex-direction: row;
    }

    #form-embed{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .mobile{
        display: none;
    }

    iframe{
        width: 640px;
        height: calc(100vh - 25px - 4rem);
    }

    .multiList div:nth-child(1){
        margin-right: 1rem;
    }

    .buttonContainer button{
        margin: 0;
    }

    .step3 .multiList div div{
        font-size: 1.2rem;
    }

    #packageSelected{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .buttonContainer{
        flex-direction: row;
    }
}