@import url(constants.css);

button{
    cursor: pointer;
    border: none;
    background-color: var(--alternative-white);

    padding: 1rem;
    border-radius: 0.25rem;
}

h1{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    margin: 0;
    color: var(--primary-pink);
}

h2{
    margin: 0;
    color: var(--primary-pink);
    font-size: 1.375rem;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body{
    margin: 0px;
    padding: 0px;
    background-color: var(--alternative-white);
    color: var(--alternative-black);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    scrollbar-color: transparent;
    text-align: justify;
    
}

div{
    box-sizing: border-box;
    flex-direction: column;
}

.white-on-blue{
    padding: 0.5rem !important;
    background-color: var(--primary-blue);
    color: white;
}

/* .white-on-blue{
    background-image: url('../pictures/Bubbles.png'), url('../pictures/Bubbles2.png');
    background-size: 28rem, 11rem;
} */

.section{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: var(--section-spacing);
    padding-top: var(--section-spacing-top);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 0.5rem;
}

.decorative-line{
    display: block;
    margin: auto;
    max-width: 100%;
    height: var(--decorative-line-height);
    /* margin-bottom: 5px; */
}

.bubbles{
    background-image: url('../pictures/Bubbles.png'), url('../pictures/Bubbles2.png');
    background-attachment: fixed; /* Creates Parallax Effect (scrolling effect) */
    background-size: 28rem, 11rem;
    position: relative;
    z-index: 1;
}

.bubbles::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .8) 70%);
    /* background-image: linear-gradient(to top left, rgba(255, 255, 255, 0) 30%, rgba(102, 158, 211, .8) 70%); */
    z-index: -1;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
    background-color: var(--alternative-white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-pink);
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover{
    /* background-color: var(--primary-pink); */
    cursor: pointer;
}

/* Cute images!!! */
.overlay-container{
    position: relative;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    pointer-events: none;
    z-index: 999;
}

.overlay-img {
    position: absolute;
    width: 6rem; /* or whatever size you want */
    pointer-events: none; /* so they don't block clicks */
    transform: translateY(-100%);
    /* max-width: calc((100vw - 640px)/2); */
}

.img-aboutMe-bottom-left{ /* Sponge */

    right: 1rem;
    top: calc(100svh + 200vh);
    /* transform: translateY(0); */
}

.img-quote-bottom-right{ /* Spray Bottle */
    /* top: calc(100svh + 100vh - 2rem);
    right: 0; */
    /* width: 20rem; */
    /* max-width: calc((100vw - 640px)/2); */

    right: 0;
    top: calc(100svh + 50vh + 3.375rem + 2rem);
    transform: translateX(0);
    width: 50vw;

}

.img-pictures-bottom-left{ /* Gloves */
    /* top: calc(300vh + 3rem);
    left: 2rem;
    width: 10rem; */

    top: calc(100svh + 50vh - 3.375rem - 1rem);
    transform: translateY(-100%) translateX(-1rem) rotate(120deg);
    left: 2rem;
    width: 10rem;
}

.img-pictures-bottom-right{ /* Broom */
    display: none;
}

.img-quote-bottom-left{
    top: calc(100svh + 100vh);
    left: 2rem;
    width: 15rem;

    display: none;
}

@media (min-width: 1023px){
    html, body{
        text-align: left;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
        text-align: left;
    }

    div{
        flex-direction: row;
        box-sizing: border-box;
    }

    .section{
        height: 100vh;
    }

    .white-on-blue{
        padding: 0;
    }

    /* Cute Pictures!!! */
    .img-aboutMe-bottom-left{ /* Sponge */
        right: auto;
        left: 2rem;
        top: calc(100svh - 2rem);
        transform: translateY(-100%);
    }

    .img-quote-bottom-right{ /* Spray Bottle */
        top: calc(200vh - 2rem);
        right: 0;
        width: 20rem;
        max-width: calc((100vw - 640px)/2);
    
        transform: translateY(-100%);
    
    }
    
    .img-pictures-bottom-left{ /* Gloves */
        top: calc(300vh + 3rem);
        transform: translateY(-100%);
    }

    .img-pictures-bottom-right{ /* Broom */
        display: block;
        width: 15rem;
        top: calc(300vh + 3rem);
        left: auto;
        right: 0;
        transform: translateY(-100%);
    }

    .img-quote-bottom-left{
        display: flex;
    }
}