@import url(constants.css);

html{
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
    border: none;
    background-color: var(--alternative-white);

    padding: 1rem;
    border-radius: 0.25rem;
}

h1{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
    margin: 0;
    color: var(--primary-pink);
}

h2{
    margin: 0;
    color: var(--second-blue);
    font-size: 1.375rem;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body{
    margin: 0px;
    padding: 0px;
    background-color: var(--alternative-white);
    color: var(--alternative-black);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    scrollbar-color: transparent;
    text-align: justify;
    
}

div{
    box-sizing: border-box;
    flex-direction: column;
}

#quoteSection{
    scroll-margin-top: 80px;
}

.white-on-blue{
    padding: 0.5rem !important;
    background-color: var(--alternative-white);
    color: var(--second-blue);
}

.section{
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: var(--section-spacing);
    padding-top: var(--section-spacing-top);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 0.5rem;
}

.decorative-line{
    display: block;
    margin: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: var(--decorative-line-height);
}

.bubbles{
    background-image: url('../pictures/Bubbles.png'), url('../pictures/Bubbles2.png');
    background-attachment: fixed; /* Creates Parallax Effect (scrolling effect) */
    background-size: 28rem, 11rem;
    position: relative;
    z-index: 1;
}

.bubbles::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, .8) 70%);
    z-index: -1;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
    background-color: var(--alternative-white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--second-blue);
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}

/* Cute images!!! */
.overlay-container{
    position: relative;
    pointer-events: none;
    z-index: 999;
}

.overlay-img {
    position: absolute;
    width: 6rem; /* or whatever size you want */
    pointer-events: none; /* so they don't block clicks */
    transform: translateY(-100%);
}

.img-aboutMe-bottom-left{ /* Sponge */
    right: 1rem;
    top: calc(100vh + 1rem);
}

.img-quote-bottom-right{ /* Spray Bottle */
    right: 0;
    top: calc(100svh + 50vh + 3.375rem + 2rem);
    transform: translateX(0);
    width: 50vw;
    display: none;
}

.img-pictures-bottom-left{ /* Gloves */
    bottom: 1rem;
    left: 2rem;
    width: 10rem;
}

.img-pictures-bottom-right{ /* Broom */
    display: none;
}

.img-quote-bottom-left{ /* Detergent */
    top: calc(100svh + 100vh);
    left: 2rem;
    width: 15rem;
    display: none;
}

.gloves{
    display: none;
}

.broom{
    display: none;
}

.carousel-decor{
    position: relative;
    z-index: 999;
    pointer-events: none;
}

@media (min-width: 767px) and (max-width: 1024px){
    .about-img{
        height: auto !important;
        width: 100% !important;
    }

    .img-quote-bottom-left{ /* Detergent */
        left: 0.5rem;
    }
}

/* Desktop */
@media (min-width: 768px){
    html, body{
        text-align: left;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2rem;
        text-align: left;
    }

    div{
        flex-direction: row;
        box-sizing: border-box;
    }

    .section{
        height: 100vh;
    }

    .white-on-blue{
        padding: 0;
    }

    /* Cute Pictures!!! */
    .img-aboutMe-bottom-left{ /* Sponge */
        display: block;
        right: auto;
        left: 2rem;
        top: calc(100svh - 2rem);
        transform: translateY(-100%);
    }

    .img-quote-bottom-right{ /* Spray Bottle */
        display: block;
        right: 0;
        width: 20rem;
        max-width: calc((100vw - 640px)/2);
    
        transform: translateY(-100%);
    
    }
    
    .img-pictures-bottom-left{ /* Gloves */
        display: block;
        bottom: 1rem;
    }

    .img-pictures-bottom-right{ /* Broom */
        display: block;
        width: 15rem;
        top: calc(300vh + 3rem);
        left: auto;
        right: 0;
        transform: translateY(-100%);
    }

    .gloves{
        display: block;
        position: absolute;
        width: 10rem;
        left: 0;
        bottom: 1rem;
    }
    
    .broom{
        display: block;
        position: absolute;
        width: 15rem;
        right: 0;
        bottom: 1rem;
    }

    .img-quote-bottom-left{ /* Detergent */
        max-width: calc((100vw - 640px)/2);
        display: flex;
    }
}

.hero{
    display: contents;
}

@media (max-width: 768px){
    #quoteSection{
        scroll-margin-top: 0;
    }

    .hero{
        /* display: grid;
        grid-template-rows: auto 1fr; */
        display: flex;
        flex-direction: column;
        height: 100svh;
        overflow: hidden;
    }
}